---
layout: base.njk
title: Home
---

{% include "partials/navigation.njk" %}
{% include "partials/hero.njk" %}
{% include "partials/features.njk" %}
{% include "partials/featured-products.njk" %}
{% include "partials/shop-by-category.njk" %}
{% include "partials/newsletter.njk" %}
{% include "partials/payments.njk" %}
{% include "partials/footer.njk" %}