<section class="py-12 bg-gray-50">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center items-center gap-8">
      <img src="/images/visa.svg" alt="Visa" class="h-8 opacity-50 hover:opacity-100 transition">
      <img src="/images/mastercard.svg" alt="Mastercard" class="h-8 opacity-50 hover:opacity-100 transition">
      <img src="/images/amex.svg" alt="American Express" class="h-8 opacity-50 hover:opacity-100 transition">
      <img src="/images/paypal.svg" alt="PayPal" class="h-8 opacity-50 hover:opacity-100 transition">
    </div>
  </div>
</section> 